---
layout: false
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
ignore: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if page.url and not page.data.eleventyExcludeFromCollections and not page.data.ignore %}
  <url>
    <loc>{{ settings.url }}{{ page.url }}</loc>
    {%- if page.date %}
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    {%- endif %}
    <changefreq>{% if page.url == "/" %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if page.url == "/" %}1.0{% elif "/resources/" in page.url %}0.8{% else %}0.9{% endif %}</priority>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
